*{box-sizing: border-box;}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.mainCont {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.graphContainer {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}